@import url(colors.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    /* background-color: #191a1c; */
}

body {
    /* height: 50vh; */
    width: 100%;
    background-color: var(--dark);
    overflow-x: hidden;
}
.body {
    display: flex;
    flex-direction: row;
}

#formsTags {
    min-width: 230px;
}

#next-button {
    align-self: right;
    margin-top: 5%;
    background-color: var(--orange);
    border: none;
    padding: 30px;
    background-image: url("../icons/icons8-next-96.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    position: relative;

    left: 80%;
}

.label {
    color: white;
}

.three-switch,
.three-switch-on,
.three-switch-off {
    height: 30px;
    width: 50px;
    appearance: none;
    background-color: gray;
    /*border-radius: 50%;*/
    /*box-shadow: 8px 0 16px 0 rgba(0,0,0,0.3), 6px 0 20px 0 rgba(0,0,0,0.2);*/

    background-image: url("../icons/minus-outline.svg");
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;

    opacity: 0;
}

.three-switch-on {
    background-color: var(--orange);
    background-image: url("../icons/plus-outline.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.three-switch-off {
    background-color: var(--dark);
    background-image: url("../icons/close-outline.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="radio"]:checked {
    opacity: 1;
    /* border: 3px solid black; */
    /*border-radius: 50px;*/
}

input:hover,
button:hover,
.flag {
    cursor: pointer;
}

.tri-state-toggle {
    margin-top: 1.25%;
    margin-bottom: 1.25%;
    margin-right: 6.5%;
    display: flex;
    justify-content: center;
    border: 3px solid black;
    border-radius: 5px;
}

.button-and-label {
    display: flex;
    align-items: center;
}

.forms-field {
    border: 0;
    border-radius: 5px;
    background-color: var(--light-dark);
    height: 450px;
    width: auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

#base-forms {
    background-color: var(--light-dark);
    padding: 3%;
    border-radius: 1%;
    width: 30%;
}

.manga-list {
    width: 70%;
}
.manga-list span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.line {
    background-color: black;
}

#base-forms h1,
#base-forms h2 {
    text-align: center;
    color: white;
}

.flags {
    justify-content: center;
    align-self: center;
    border-radius: 15%;
}

.flagcheck {
    width: 80px;
    height: 50px;

    background-size: 50px;
    background-color: var(--light-dark);
    border-radius: 10%;
    appearance: none;
    border: 2px solid var(--dark);
    background-repeat: no-repeat;
    background-position: center;
}
.btn-bookmark {
    width: auto;
    height: auto;
    min-width: 40px;
    min-height: 40px;
    padding: 0; /* Remove o padding */
    cursor: pointer;
    background-color: var(--light-dark);
    border: none;
    border-radius: 50%;
    align-self: center;
    background-repeat: no-repeat;
}

#demography {
    justify-content: center;
    align-self: center;
}

#ptbr {
    background-image: url("../icons/icons8-brazil-100.png");
}

#enus {
    background-image: url("../icons/icons8-united-100.png");
}

#es {
    background-image: url("../icons/icons8-spain-100.png");
}

#jp {
    background-image: url("../icons/icons8-japan-100.png");
}

.flagcheck:checked {
    background-color: var(--orange);
}

.flagcheck:hover {
    background-color: var(--dark);
}

@media (max-width: 930px) {
    .body {
        flex-direction: column;
    }

    #base-forms {
        align-self: center;
        width: 100%;
        align-content: center;
    }

    .forms-field {
        align-content: center;
    }

    .manga-list {
        width: 100%;
        margin-top: 15px;
    }
}
