@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/home.css');

* {
    padding: 0;
    margin: 0;
    margin-left: 0.2%;
    margin-right: 0.2%;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 0.25fr repeat(3, 1fr);
    grid-template-rows: 0.5fr repeat(4, 1fr);
    grid-column-gap: 50fr;

}

body {
    background-color: #191a1c;
}

#buttons {
    position: relative;
}


.btn {
    background-color: #2c2c2c;
    border: none;
    color: white;
    width: 4vw;
    height: 4vw;
    cursor: pointer;

    -ms-transform: translate(-50%, -50%);
    transform: translate(0%, 23%);

    font-size: 4vw !important;
}


/* Darker background on mouse-over */
.btn:hover {
    background-color: #191a1c;
}

.float-btn {
    width: 80px;
    height: 80px;
    background-color: #ff6740;
    display: flex;
    border-radius: 50%;
    color: white;
    font-size: 40px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    border: none;
    font-size: 48px !important;
}

.float-btns {
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    right: 20px;
    bottom: 20px;
}


.float-btn:active {
    fill: black;
    background-color: #191a1c;

}

#title-and-save {
    grid-area: 1 / 1 / 2 / 6;
    background-color: #2c2c2c;
    border-color: #191a1c;
    border-bottom-style: solid;
    border-width: 0.1vw;
    margin-top: 0.5%;
    border-radius: 1vw;
    height: fit-content;
    width:auto;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 0.1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#cover-div {
    grid-area: 2 / 1 / 6 / 3;
}

.bg-img {
    background-image: url("/resources/icons/cover_exemplo.jpg");
    filter: blur(4px);
    -webkit-filter: blur(4px);
    /* Full height */
    height: 100%;
    width: auto;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cover-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 90%;
    top: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.front-img{
    transform: translate(0, -107%);
}

#info {
    grid-area: 2 / 3 / 6 / 6;
    background-color: #2c2c2c;
    border-radius: 10px;
}

#h1-title,
#authors {
    color: white;
    padding-left: 2%;
    overflow:auto;
}

#h1-title{
    font-size: 3vw;
}

#authors {
    font-size: 2vw;
}

.genre-list {
    display: flex;
    flex-wrap: wrap;
}

.genre {
    background-color: #ff6740;
    
    border-radius: 10%;
    width: auto;
    height: auto;
    max-height: 25px;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 0.5%;
    white-space: nowrap;
}


h2,
span,
p {
    text-overflow: clip;
    color: white;
}

h2{
    font-size: 1.75vw;
}
span,
p{
    font-size: 1.25vw;
}

@media (max-width: 450px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 3fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    #title-and-save {
        grid-area: 1 / 1 / 2 / 2;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 1fr;
    }

    #buttons{
        grid-area: 1 / 1 / 2 / 2;
        margin-left: 2%;
    }

    .btn {
        background-color: #2c2c2c;
        border: none;
        color: white;
        width: 5vw;
        height: 5vw;
        cursor: pointer;
    
        -ms-transform: translate(-50%, -50%);
        transform: translate(0%, 23%);
    
        font-size: 5vw !important;
    }

    #info{
        grid-area: 3 / 1 / 4 / 2;
    }

    #cover-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60vw;
        transform: translate(0, -5%);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    

    #cover-div {
        grid-area: 2 / 1 / 3 / 2;
        border-radius: 0;
        max-width: auto;
        height: 80vw;
    }

    .bg-img {
        background-image: url("/resources/icons/cover_exemplo.jpg");
        filter: blur(4px);
        -webkit-filter: blur(4px);
        /* Full height */
        height: 100%;
        width: auto;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
          
    }
    
    .float-btns {
        right: 20vw;
        left: 20vw;
        bottom: 20px;
    }
    
    #h1-title{
        font-size: 4.5vw;
    }
    
    #authors {
        font-size: 3.5vw;
    }

    h2{
        font-size: 4vw;
    }
    span,
    p{
        font-size: 3.5vw;
    }
    
    .float-btn {
        width: 70px;
        height: 70px;
        font-size: 32px !important;
    }

}